@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	font-family: 'Montserrat';
}

.menu {
	background-color: #3fab9b;
	color: #f3f0d7;
}

.bg-light-green{
	background-color: #cee5d0;
}

.logo{
	color: #5e454b;
}

.link-menu {
	color: #f3f0d7;
}

.footer{
	background-color: #f3f0d7;
	font-size: 14px;
	text-align: center;
	color: #5e454b;
}

.icon {
	height: 50px;
	width: 50px;
	text-align: left;
}

h3{
	font-family: 'Montserrat';
}

a:hover, .info-user a:hover, .usuario hover {
	color: #d8b384;
}

.usuario:hover {
	background-color: #3fab9b
}
.info-user, .info-user a{
	float: right;
	padding-right: 15px; 
	color: #f3f0d7;
	font-size: 13px;
	text-decoration: none;
}

.produtoBotao{
	border-radius: 4px;
	border: 1px;
	background-color: #5e454b;
	color: #f3f0d7;
	font-family: 'Montserrat';
	font-size: 12px;
	text-align: center;
	float: below;
}

.calendar{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    padding: 5px;
}

.calendar th,.calendar td{
	border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    text-align: left;
}

.calendar th {
    background-color: #3fab9b;
    color: white;
}

.calendarButton{
	background-color: #3fab9b;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: right;
    font-size: 12px;
    cursor: pointer;
    float: right;
}

.contatoinput{
	color: #5e454b;
	font-size: 13px;
}

.deslogar a{
	color: #f3f0d7;
	text-decoration: none;
}

input[type=text], [type=password]{
	border-radius: 4px;
	border: 1px;
} 

.submit{
	background-color: #5e454b;
	color: #f3f0d7;
	font-family: 'Montserrat';
}


#cadastrado {
	text-align : center;

}

.intro{
	background-color: #f3f0d7;
}

#usuarioActions{
	margin: auto;
	width: 90%;
	text-align: left;
}

.servicos, .produtos{
	float: left;
	margin: 10px 10px 10px 10px;
	padding: 5px 5px 5px 5px;
	border-style: solid;
	border-color: #cee5d0;
}

.usuario{
	width: 1000px;
	height: 100px;
	margin: 10px 10px 10px 10px;
	padding: 5px 5px 5px 5px;
	border-width: 3px;
	border-style: solid;
	border-color: #cee5d0;
	background-color: #f3f0d7;
	text-align: left;
}

.Contato{
	width: 1000px;
	height: 380px;
	margin: 10px 10px 10px 10px;
	padding: 5px 5px 5px 5px;
	text-align: left;
}

#PetPic {
	width: 400px;
	border-width : 4px;
	border-style: solid;
	border-color: #3fab9b;
}

img{
	width: 250px;
}

h1{
	text-transform: uppercase;
	color:  #5e454b;
	font-size: 30px;
}

#dadosPet {
	width: 100%;
}

h2, h5 {
	font-family: 'Montserrat';
	text-transform: uppercase;
	color : #5e454b;
}

h6{
	text-transform: uppercase;
	color:  #5e454b;
	font-size: 15px;
}

.rodape {
	margin-top: 20px;
	float: right;
	background-color: #3fab9b;
	height: 90px;
	width: 100%;
	padding: 10px 0px 10px 200px;
	color: #f3f0d7;
}

ul {
	list-style-type: none;
	text-align: left;
}

p {
	font-family: 'Montserrat';
	color:  #5e454b;
}

.menuProdutos{
	padding-top: 120px;
	width: 100%;
	height: 330px;
	text-align: center;
	position: relative;

}

.image{
	height: 250px;
}