@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	font-family: 'Montserrat';
	background-color: AliceBlue;
}

.menu {
	background-color: #3fab9b;
	height: 60px;
	width: 100%;
	padding-top: 15px;
}

.menu a {
	font-size: 18px;
	padding: 10px 20px 20px 20px;
	color: #f3f0d7;
	text-decoration: none;
	vertical-align: middle;
}

.menu a:hover {
	color: #d8b384;
}

.menu form{
	float: right;
	padding-right: 15px; 
}

label{
	color: #f3f0d7;
	font-size: 13px;
}

input[type=text], [type=password]{
	border-radius: 4px;
	border: 1px;
} 

input[type=submit]{
	border-radius: 4px;
	border: 1px;
	background-color: #5e454b;
	color: #f3f0d7;
	font-family: 'Montserrat';
	font-size: 12px;
}

#cadastrado {
	text-align : center;

}

.servicos{
	width: 250px;
	height: 350px;
	float: left;
	margin: 10px 10px 10px 10px;
	padding: 5px 5px 5px 5px;
	border-width: 3px;
	border-style: solid;
	border-color: #cee5d0;
	background-color: #f3f0d7;
}

#PetPic {
	width: 400px;
	border-width : 4px;
	border-style: solid;
	border-color: #3fab9b;
}

table {
	width: 100%;
}

img{
	width: 250px;
}

h1 {
	text-transform: uppercase;
	color:  #5e454b;
	font-size: 35px;
}

h2 {
	text-transform: uppercase;
	color : #5e454b;
}

ul {
	list-style-type: none;
	text-align: left;
}

li {
	text-transform: uppercase;
	color: #5e454b;
}

p {
	color:  #5e454b;
}

.rodape {
	margin-top: 20px;
	float: right;
	background-color: #3fab9b;
	height: 90px;
	width: 100%;
	padding: 10px 0px 10px 200px;
	color: #f3f0d7;
}